Repository ludeeus/pyuptimerobot: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-json, check-toml, check-yaml

check-json:
  name: check json
  entry: check-json
  language: python

check-toml:
  name: check toml
  entry: check-toml
  language: python

check-yaml:
  name: check yaml
  entry: check-yaml
  language: python

Refactor API call method to use async context manager for request handling
  pyuptimerobot/uptimerobot.py
Due: none

Potential fix for pull request finding
  tests/test_models.py
Due: none

Replace API decorator with internal method (#146)
  pyuptimerobot/const.py
  pyuptimerobot/decorator.py
  pyuptimerobot/models.py
  pyuptimerobot/uptimerobot.py
  tests/test_models.py
Due: none

Implement rate limit handling and exceptions in UptimeRobot API client
  pyuptimerobot/__init__.py
  pyuptimerobot/exceptions.py
  pyuptimerobot/models.py
  pyuptimerobot/uptimerobot.py
  tests/test_issues.py
Due: none

add coverage for invalid values
  tests/test_issues.py
Due: none

Potential fix for pull request finding
  pyuptimerobot/uptimerobot.py
Due: none

Potential fix for pull request finding
  pyuptimerobot/exceptions.py
Due: none

lint
  pyuptimerobot/uptimerobot.py
Due: none

adjust the logging
  pyuptimerobot/uptimerobot.py
  tests/common.py
  tests/test_async_get_monitors.py
  tests/test_issues.py
Due: none

Apply suggestion from @ludeeus
  .devcontainer.json
Due: check-json

Apply suggestion from @ludeeus
  .devcontainer/Dockerfile
Due: none

Fix Dockerfile path in devcontainer configuration
  .devcontainer/devcontainer.json
Due: check-json

Replace devcontainer features with custom Dockerfile using HA-style uv setup (#154)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .python-version
Due: check-json

Update copilot instructions to declare Python 3.14 as project version (#156)
  .github/copilot_instructions.md
Due: none

Address review findings for rate limit handling
  pyuptimerobot/exceptions.py
  pyuptimerobot/models.py
  pyuptimerobot/uptimerobot.py
  tests/test_issues.py
Due: none

Address review findings for rate limit handling (#161)
  pyuptimerobot/exceptions.py
  pyuptimerobot/models.py
  pyuptimerobot/uptimerobot.py
  tests/test_issues.py
Due: none

ci: replace Codecov upload with 100% coverage gate, add concurrency/timeouts/cache
  .github/workflows/actions.yml
  pyproject.toml
Due: check-toml, check-yaml

ci: finish hardening pass across all workflows
  .github/workflows/actions.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
Due: check-yaml

ci: drop redundant enable-cache; auto already enables it on hosted runners
  .github/workflows/actions.yml
  .github/workflows/release.yml
Due: check-yaml

build: consolidate coverage config into pyproject.toml
  .coveragerc
  pyproject.toml
Due: check-toml

docs: drop leftover Codecov badge and .codecov config
  .codecov
  README.md
Due: none

ci: drop redundant coverage-report step
  .github/workflows/actions.yml
Due: check-yaml

ci: restore coverage report step for per-file visibility
  .github/workflows/actions.yml
Due: check-yaml

Replace Codecov upload with 100% coverage gate, add concurrency/timeouts (#163)
  .codecov
  .coveragerc
  .github/workflows/actions.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
  README.md
  pyproject.toml
Due: check-toml, check-yaml

Refresh Copilot instructions and add CLAUDE.md symlink
  .github/copilot-instructions.md
  .github/copilot_instructions.md
  CLAUDE.md
Due: none

Clarify minimum supported Python version in instructions
  .github/copilot-instructions.md
Due: none

Path conditions:
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
