Repository ludeeus/pyuptimerobot: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-json, check-toml, check-yaml

check-json:
  name: check json
  entry: check-json
  language: python

check-toml:
  name: check toml
  entry: check-toml
  language: python

check-yaml:
  name: check yaml
  entry: check-yaml
  language: python

feat: Migrate API v2 to v3 (#33)
  pyuptimerobot/const.py
  pyuptimerobot/decorator.py
  pyuptimerobot/models.py
  pyuptimerobot/uptimerobot.py
  tests/fixtures/editMonitor.json
  tests/fixtures/getAccountDetails.json
  tests/fixtures/getMonitors.json
  tests/test_async_edit_monitor.py
  tests/test_async_get_account_details.py
  tests/test_async_get_monitors.py
  tests/test_issues.py
Due: check-json

Improve type hints in models
  example.py
  pyuptimerobot/const.py
  pyuptimerobot/decorator.py
  pyuptimerobot/models.py
  pyuptimerobot/uptimerobot.py
  tests/fixtures/bad_api_key.json
  tests/fixtures/missing_api_key.json
  tests/test_async_edit_monitor.py
Due: check-json

Simplify PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

update coverage
  tests/test_models.py
Due: none

Thre is no doc
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Improve type hints in models (#79)
  example.py
  pyuptimerobot/const.py
  pyuptimerobot/decorator.py
  pyuptimerobot/models.py
  pyuptimerobot/uptimerobot.py
  tests/fixtures/bad_api_key.json
  tests/fixtures/missing_api_key.json
  tests/test_async_edit_monitor.py
  tests/test_models.py
Due: check-json

Simplify exception handling in api_request decorator
  pyuptimerobot/decorator.py
Due: none

Update pyuptimerobot/decorator.py
  pyuptimerobot/decorator.py
Due: none

Update release drafter configuration and remove unused steps
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
Due: check-yaml

Simplify exception handling in api_request decorator (#80)
  pyuptimerobot/decorator.py
Due: none

Update release drafter configuration and remove unused steps (#81)
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
Due: check-yaml

Split release-drafter config more
  .github/release-drafter.yml
Due: check-yaml

Split release-drafter config more (#82)
  .github/release-drafter.yml
Due: check-yaml

Add collapse-after: 1 to several categories
  .github/release-drafter.yml
Due: check-yaml

Add collapse-after: 1 to several categories (#83)
  .github/release-drafter.yml
Due: check-yaml

Add include directive for sdist target in pyproject.toml
  pyproject.toml
Due: check-toml

Add include directive for sdist target in pyproject.toml (#84)
  pyproject.toml
Due: check-toml

Make library py.typed
  pyproject.toml
  pyuptimerobot/decorator.py
  pyuptimerobot/py.typed
  pyuptimerobot/uptimerobot.py
Due: check-toml

Fix monitor editing
  example.py
  pyuptimerobot/decorator.py
  pyuptimerobot/uptimerobot.py
  tests/test_async_edit_monitor.py
Due: none

Potential fix for pull request finding
  pyuptimerobot/uptimerobot.py
Due: none

Make library typed (#128)
  pyproject.toml
  pyuptimerobot/decorator.py
  pyuptimerobot/py.typed
  pyuptimerobot/uptimerobot.py
Due: check-toml

Update renovate configuration to use best practices and enhance vulnerability alerts
  renovate.json
Due: check-json

Update renovate configuration to use best practices and enhance vulnerability alerts (#139)
  renovate.json
Due: check-json

Apply suggestions from code review
  .github/workflows/actions.yml
  .github/workflows/release.yml
Due: check-yaml

Replace black/isort with ruff for formatting and linting (#141)
  .devcontainer.json
  .github/workflows/actions.yml
  pyproject.toml
  pyuptimerobot/__init__.py
  pyuptimerobot/decorator.py
  pyuptimerobot/models.py
  scripts/lint
  scripts/lint-check
  tests/test_issues.py
Due: check-json, check-toml, check-yaml

revert example changes
  example.py
Due: none

ful revert
  example.py
Due: none

apply review comments
  pyuptimerobot/const.py
  pyuptimerobot/decorator.py
  tests/test_async_edit_monitor.py
Due: none

fix & cleanup
  pyuptimerobot/const.py
  pyuptimerobot/decorator.py
  tests/test_async_edit_monitor.py
Due: none

Improve code and tests
  pyuptimerobot/const.py
  pyuptimerobot/decorator.py
  tests/test_async_edit_monitor.py
Due: none

Fix monitor editing (#129)
  pyuptimerobot/const.py
  pyuptimerobot/decorator.py
  pyuptimerobot/uptimerobot.py
  tests/test_async_edit_monitor.py
Due: none

Use env in Example to prevent accidental commits with it
  example.py
Due: none

Use env in Example to prevent accidental commits with it (#143)
  example.py
Due: none

Add back edit monitors and add dedicated action methods
  pyuptimerobot/const.py
  pyuptimerobot/decorator.py
  pyuptimerobot/models.py
  pyuptimerobot/uptimerobot.py
  tests/test_async_edit_monitor.py
  tests/test_async_monitor_actions.py
Due: none

Revert "Use API_PATH_MONITORS constant instead of hardcoded string in models.py"
  pyuptimerobot/models.py
Due: none

Reapply "Use API_PATH_MONITORS constant instead of hardcoded string in models.py"
  pyuptimerobot/models.py
Due: none

Add back edit monitors and add dedicated action methods (#144)
  pyuptimerobot/const.py
  pyuptimerobot/decorator.py
  pyuptimerobot/models.py
  pyuptimerobot/uptimerobot.py
  tests/test_async_edit_monitor.py
  tests/test_async_monitor_actions.py
Due: none

Replace API decorator with internal method
  pyuptimerobot/const.py
  pyuptimerobot/decorator.py
  pyuptimerobot/models.py
  pyuptimerobot/uptimerobot.py
  tests/test_models.py
Due: none

Refactor data transformer type in API call method to use RDT
  pyuptimerobot/uptimerobot.py
Due: none

Path conditions:
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
